<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Symfony Taches{% endblock %}</title>
</head>
<body>
    <nav>
        <a href="{{ path('app_tache_index') }}">Liste des Tâches</a>
        <a href="{{ path('app_tache_ajouter') }}">Ajouter une Tâche</a>
    </nav>

    <div>
        {% block body %}{% endblock %}
    </div>
</body>
</html>
